body {
    margin: 0;
    width: 1600px;
    height: 800px;
}
.navigation {
  display: flex;
  flex-direction: row;
}
.navigation a {
  text-decoration: none;
  font-size: 20px;
  color: black;
  display: block;
  height: 30px;
  width: auto;
  margin: auto;
}
.navigation a:hover {
  color: grey;
}

.breadtext {
    margin: auto;
}

.breadtext {
    width: 400px;
    height: auto;
    margin: auto;
}
